[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
torch = "*"
ffmpeg = "*"
flask = "*"
tqdm = "*"
flask-cors = "*"
scipy = "*"
youtube-dl = "*"
waitress = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "python api/main.py"
